body{
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 95vh;
    font-family: 'Times New Roman';
    /* background-color: #000d33; */
    /* opacity: 0.9; */
    margin-top: 0px;
}
h1{
    color: #000d33;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
    background-color: #0b41e6;
    height: 80px;
    width:101.3%;
    margin: -8px;
    padding: 0;
    text-align: right;
    overflow: hidden;
    position: fixed;
    

}

.navbar ul {
list-style-type: none;
margin-top: 0;

padding: 30px;

}

.navbar ul li{
    
    display: inline;
  
}

.navbar ul a{
    color: white;
    
    font-size:20px;
    text-align: center;
    padding:  20px;
    text-decoration: none;
    
}
.navbar img{
    margin-left: 0;
}
.content{
    padding-top: 90px;
}

.contain{
   
   
    
    margin: auto;
    width: 70%;
    height: 140px;
    border-radius: 20px;
}

.contain h1,h2,h3{
    color: #001f7a;
    
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.slider-frame{
    overflow: hidden;
    
    margin-left: 10%;
    
    background-size:cover;
    
}

/*---------- SLIDE ANIMATION --------------*/


@keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}



.slide-images{
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.img-container{
    height: 500px;
    width: 1200px;
    position: relative;
    float: left;
}

.address{
    background-color: #000d33;
    color: white;
    margin-left: 0;
}