.temp_container {
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    margin-top: 10%;
    font-family: 'Simplifica';
}