h1,h2{
    font-family: 'Flaviotte';
    background-color: #23153c;
    width: 100%;
}
h1 {
    font-size: calc(2em + 1vw);
    text-align: center;
}

h2 {
    font-size: calc(1.5em + 1vw);
    text-align: center;
}

.event {
    width: 20%;
    min-width: 385px;
    max-height: 535px;
    height: 50rem;
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.418);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 0.5%;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.upcoming_events,.past_events {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h3{
    font-size: calc(1.2em + 0.5vw);
    margin: 0;
    padding: 2%;
    box-sizing: border-box;
    /* font-weight: 800; */
}
.description{
    font-size: calc(0.6em + 0.5vw);
    margin: 1% 0;
    box-sizing: border-box;
    padding: 0% 2%;
}
.students_count{
  display: flex;
}
.students_count:nth-child(2){
    align-items: center;
}
.img_container {
    width: 100%;
    height: 65%;
}
.event_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.event_stat_icon {
    width: 25px;
    height: auto;
    left: 84%;
    top: 93%;
    margin-right: 4%;
}
.event_intro{
    width: 100%;
    margin: 0;
    height: 22%;
}
.event_stats{
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    font-size: calc(0.8em + 0.5vw);
    font-style: bold;
    color: #FF3F81;
    box-sizing: border-box;
    padding: 0 2%;
    margin: 3% 0;
}

.event_reg{
    font-family: inherit;
    height: 60%;
    width: 25%;
    border-radius: 8px;
}