body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23153c;
    color: #FF3F81;
}

/*---------------HEADER--------------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    margin-bottom: 5%;
}

.navbar div {
    height: 60%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0% 2%;
    background-color: #edf6f9af;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 30px;
    font-family: 'Code Next-Trial Regular';
}

.navbar img {
    width: 180px;
    height: 60px;
}



.navbar div a {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    transition: color 200ms;
}

.navbar div a:hover {
    color: #4e0110;
}



/*-----------------------------------*/

/*---------- CAROUSEL --------------*/
.is-hidden {
    display: none !important;
}

.carousel_body {
    width: 75%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.carousel_control {
    width: 40px;
    height: auto;
    cursor: pointer;
    display: block;
    z-index: 2;
}

.carousel_box1 {
    height: 100%;
    width: 90%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.295);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    overflow: hidden;
}

.carousel_slides {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: transform 400ms ease-out;
}

.carousel_test {
    width: 100%;
    height: 98%;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel_slide {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}



.carousel_nav {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_nav_child {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5d7179;
    margin-right: 1%;
    cursor: pointer;
    border: none;
    padding: 0;
}

.carousel_nav_child.current_pointer {
    background-color: #FF3F81;

}
.carousel_control_left {
    margin-right: 1%;
}

.carousel_control_right {
    margin-left: 1%;
}
/*-----------------------------------*/
/*---------------FOOTER--------------------*/
.contact {
    background-color: red;
    text-align: center;
    width: 100%;
    display: inline-flex;
}

.conts {
    padding: 40px;
    background-size: cover;
}

.cont {
    background-color: white;
    opacity: 0.9;
    color: #3399ff;


}

footer {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(245, 245, 245, 0.205);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    font-family: 'Roboto Mono', monospace;
}

.footer_contact {
    display: flex;
    align-items: center;
}

.footer_icons {
    width: 20px;
    height: auto;
}
.social_media_links{
    display: flex;
    list-style-type: none;
    padding-inline-start:0;
}
.social_media_icons{
    width: 40px;
    height: auto;
}

svg:hover #svg_color{
    fill: #FFE5ED;
}
/*-----------------------------------*/
/* ---------team-----------------  */
.column {
    float: left;
    width: 23.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#edf6f9af ;
    border-radius: 10%;
}

/* Some left and right padding inside the container */
.container {
    padding: 6% 0 6%;
}

/* Clear floats */
.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: black;
    text-align: center;
}


.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height:50%;
}

.leads {
    margin-left: 25%;

}

.nxtsec {
    padding-top:8%;

}

h1,h2,h3{
    text-align: center;
}