::-webkit-scrollbar {
    display: none;
}

html,body {
    overflow-x: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23153c;
    color: #FF3F81;
}

a {
    text-decoration: none;
    color: inherit;
}

/*---------------HEADER--------------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    margin-bottom: 5%;
    background-color: #23153c00;
}

.nav_links {
    height: 60%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0% 2%;
    background-color: #23153c61;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 30px;
    font-family: 'Code Next-Trial Regular';
    min-width: 450px;
}

.navbar img {
    width: 180px;
    height: 60px;
}

.mobile_nav_div {
    display: none;
}

.navbar div a {
    color: white;
    font-size: calc(0.6em + 0.5vw);
    transition: color 200ms;
}

.navbar div a:hover {
    color: #e6395ba0;
}

/*-----------------------------------*/

/*---------- INTRO --------------*/
.intro {
    width: 100%;
    height: 100vh;
}

.intro>h1 {
font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin-bottom: 1%;
    padding: 0 0 0 3%;
    font-size: calc(5.5em + 2vw);
}

.intro>p {
    width: 30%;
    padding: 0 0 0 3%;
    font-size: calc(1em + 0.8vw);
    color: white;
}

/*-----------------------------------*/

/*---------- About us / mission / start--------------*/
.about,
.mission,
.start,
.vision {
    margin: 5% 0 2% 3%;
    border-radius: 8px;
    align-self: flex-start;
    padding: 2%;
    width: 80%;
    height: 25rem;
    background: linear-gradient(70deg, #23153c 30%, #30204b);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    border-left: solid 1px #FF3F81;
    box-sizing: border-box;
    position: relative;
}

.about>h2 {
    margin-bottom: 0;
}

.about_flex,
.mission_flex,
.vision_flex {
    display: flex;
    width: 100%;
    height: 90%;
}

.about_flex>p {
    width: 60%;
    height: 100%;
    font-size: calc(1em + 0.3vw);
    line-height: 1.5;
    min-width: 320px;
}

.about_flex>div {
    position: relative;
    width: 50%;
    right: 0;
    top: 5%;
    height: calc(100% + 55%);
    box-sizing: border-box;
    min-width: 350px;
}

.about_flex>div>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 2%;
}

.mission {
    align-self: flex-end;
    background: linear-gradient(70deg, #30204b 10%, #23153c 60%);
    border-left: none;
    border-right: solid 1px #FF3F81;
    margin-right: 2%;
    margin-bottom: 5%;
}

.mission>h2 {
    text-align: right;
}

.mission_flex>div {
    position: relative;
    height: calc(100% + 45%);
    width: 50%;
    bottom: 15%;
    right: 8%;
    min-width: 350px;
}

.mission_flex>div>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 2%;
    /* min-width: 300px; */
}

.mission_flex>ul {
    font-size: calc(1em + 0.3vw);
    list-style-type: none;
    width: 50%;
}
.mission_flex>ul>li{
    margin-bottom: 1%;
}
.mission_flex>ul>li::before {
    content: '* ';
    color: #FF3F81;
}

.start {
    font-size: calc(1em + 0.3vw);
    background: #23153c;
    margin-bottom: 5%;
}

.vision_flex>p {
    width: 60%;
    height: 100%;
    font-size: calc(1em + 0.3vw);
    line-height: 1.5;
    min-width: 320px;
}

.vision_flex>div {
    position: relative;
    width: 50%;
    right: 0;
    bottom: 50%;
    height: calc(100% + 85%);
    box-sizing: border-box;
    min-width: 350px;
}

.vision_flex>div>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 2%;
    min-width: 300px;
}

/*-----------------------------------*/


/*---------- CAROUSEL --------------*/
.is-hidden {
    display: none !important;
}

.carousel_body {
    width: 75%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    position: relative;
}


.carousel_control {
    width: 40px;
    height: auto;
    cursor: pointer;
    display: block;
    z-index: 2;
    position: absolute;
}

.carousel_box1 {
    height: 100%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.295);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    overflow: hidden;
}

.carousel_slides {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: transform 400ms ease-out;
}

.carousel_test {
    width: 100%;
    height: 98%;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel_slide {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}



.carousel_nav {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5% 0 3% 0;
}

.carousel_nav_child {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5d7179;
    margin-right: 1%;
    cursor: pointer;
    border: none;
    padding: 0;
}

.carousel_nav_child.current_pointer {
    background-color: #FF3F81;

}

.carousel_control_left {
    margin-right: 1%;
    left: 0;
}

.carousel_control_right {
    margin-left: 1%;
    right: 0;
}

/*-----------------------------------*/
/*---------------FOOTER--------------------*/
footer {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.205);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: calc(1.2em + 1vw);
    font-family: 'Roboto Mono', monospace;
}

.contact_details {
    box-sizing: border-box;
    padding: 2%;
    width: 60%;
    height: 100%;
}

.footer_contact {
    width: fit-content;
    display: flex;
    align-items: center;
    padding-left: 2%;
    transition: color 200ms;
}

.footer_contact_row {
    display: flex;
}

.footer_contact:hover {
    color: #FFF1AC;
}

.footer_address {
    letter-spacing: -1.8px;
}

.footer_icons {
    min-width: 40px;
    width: 40px;
    height: auto;
}

.social_media_links {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
}

.social_media_icons {
    width: 60px;
    height: auto;
}

#svg_color {
    transition: fill 300ms;
}

svg:hover #svg_color {
    fill: #FFE5ED;
}

#map {
    width: 35%;
    height: 600px;
    margin-right: 5%;
}

.map_frame {
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

/*-----------------------------------*/
/*----------------Responsiveness-------------------*/
@media(max-width:1085px) {

    .about,
    .mission,
    .vision,
    .start {
        height: 45rem;
        width: 90%;
        margin: 3% auto;
    }

    .about_flex>p,
    .start_flex>p,
    .mission_flex>ul,
    .vision_flex>p {
        width: 95%;
        padding: 1%;
    }

    .start {
        height: fit-content;
    }

    .mission_flex,
    .about_flex,
    .vision_flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section>h2 {
        text-align: center !important;
    }

    .about_flex>div,
    .mission_flex>div,
    .vision_flex>div {
        position: static;
    }

    .mission_flex>div {
        align-self: center;
        width: 40%;
    }

    .carousel_body {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    #map {
        width: 100%;
        height: 400px;
        margin: 0;
    }

    .map_frame {
        border-radius: 0;
    }
}

@media(max-width:765px) {
    .navbar {
        z-index: 2;
    }

    .nav_links {
        background-color: rgba(255, 255, 255, 0.456);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        position: absolute;
        top: 0;
        height: 40rem;
        width: 100%;
        margin: 0;
        border-radius: 0;
        flex-direction: column;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 300ms linear;
        font-size: 2rem;
    }

    .nav_links>a {
        color: white !important;
        margin-bottom: 3%;
    }

    .mobile_nav_div {
        display: block;
        margin-right: 3%;
        border-right: solid 2px white;
        /* border-radius: 5px; */
        height: 48px;
    }

    .mobile_nav_icons {
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        color: #eeebe0;
    }

    .hidden_active {
        display: none;
    }
        .intro>p{
            width: 70%;
        }
}