.team_body {
    font-family: 'Flaviotte';
}

section {
    height: 40%;
    width: 100%;
}

.team_row {
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    height: 30rem;
    width: 22%;
    min-width: 400px;
    background-color: rgba(0, 0, 0, 0.278);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5% 2% 1.5%;
}

.card::after {
    content: '';
    background-color: transparent;
    width: 8%;
    height: .18rem;
    font-size: 5rem;
    position: absolute;
    bottom: -.18rem;
    right: .55rem;
    visibility: hidden;
}

.card:hover::after {
    visibility: visible;
    animation: blinker 1s 200ms infinite;
}

@keyframes blinker {
    0% {
        background-color: #FF3F81;
    }

    100% {
        background-color: transparent;
    }
}

.img_container {
    margin-top: 7%;
    width: auto;
    height: 10rem;
}

.card_img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: calc(3em + 1vw);
    background-color: #23153c;
}

h2 {
    font-size: calc(2em + 1vw);
    background-color: #23153c;
}

h3 {
    font-family: 'Simplifica';
    letter-spacing: .07rem;
    font-weight: bolder;
    font-size: clamp(1.8rem,2vw,2.2rem);
    margin: 10% 0 1% 0;
}

.title {
    text-align: center;
    font-family: 'Simplifica';
    font-weight: 600;
    font-size: clamp(1.3rem, 2vw, 1.4rem);
    margin: 0 0;
    letter-spacing: .07rem;
    margin-bottom: 2%;
}

h1,
h3,
h2 {
    text-align: center;
}

.bio {
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    font-size: clamp(1.4rem, 2vw, 1.5rem);
    font-family: 'Simplifica';
    font-weight: 500;
}

.bio_icons {
    width: 2.9rem;
    height: auto;
    margin-right: 1rem;
}

.bio_decription {
    width: fit-content;
    height: fit-content;
    border-left: solid 2px #FF3F81;
    padding-left: 5%;
    color: white;
    letter-spacing: .15rem;
}

@media(max-width:400px) {

    .card {
        min-width: 90%;
    }

}